@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    /* Culori pagina */
    --gray1: #2D3142;
    --gray2: #525562;
    --gray3: #767981;
    --gray4: #BFC0C0;
    --gray5: #DFE0E0;
    --orange: #EF8354;
    --mild-black: #212430;
    --warning-red: #f76157;
}

#darkness {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 5;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;

    font-family: 'Ubuntu Mono', monospace;
}

/* https://coolors.co/212430-2d3142-525562-767981-bfc0c0-dfe0e0-ffffff-ef8354 */

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--gray1);
}

button {
    cursor: pointer;
}

#container {
    width: 90%;
    max-width: 1280px;
    height: 90%;
    max-height: 720px;

    display: grid;
    grid-template-rows: 55px minmax(auto, 720px);
    grid-template-columns: 55px minmax(auto, 1280px);
    grid-template-areas: "l b"
                         "t w";
    gap: 5px;
    row-gap: 10px;
}


/* == Logo ================== */
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    grid-area: l;
}

#logo-img {
    position: relative;
    top: 5px;

    width: 90%;
    height: 90%;
    /* Portocaliu */
    /* Generat cu https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(52%) sepia(91%) saturate(344%) hue-rotate(332deg) brightness(97%) contrast(93%);
}


/* == Bars ====================== */
#bars {
    display: grid;
    grid-template-rows: 50% 50%;
    user-select: none;

    grid-area: b;
}

#toolbar {
    display: flex;
    align-items: center;
    padding-left: 0.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: var(--gray2);
}

#toolbar > button {
    font-family: "Raleway";
    color: var(--gray4);
    background-color: transparent;
    border: none;
}

#save-button {
    border-left: 1px solid var(--gray1) !important;
}

#toolbar > button:hover {
    color: white;
}

#info-tooltip {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: 30px;
}

#info-tooltip-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--gray3);
}

#info-tooltip-icon {
    width: 60%;
    height: 70%;
    filter: invert(88%) sepia(0%) saturate(0%) hue-rotate(234deg) brightness(103%) contrast(92%);
}

#info-tooltip-textbox {
    padding-left: 10px;
    
    display: flex;
    align-items: center;

    background-color: var(--gray4);
    color: var(--mild-black);
    cursor: help;
}

#info-tooltip-text {
    height: 1em;
}

.warn-text {
    animation-name: warnText;
    animation-duration: 2s;
    animation-timing-function: steps(1);
}


/* Arata toata informatia pe hover */
#info-tooltip-hover {
    display: none;

    min-height: 30px;
    max-width: 50%;
    padding: 8px;
    position: absolute;

    background-color: var(--gray2);
    border: 1px solid var(--gray1);
    border-radius: 5px;
    color: var(--gray5);

    font-family: Consolas;
    font-size: 0.8em;
}

.hover-in {
    animation: info-tooltip-in 0.5s linear 1s;
    animation-fill-mode: backwards;
}

.hover-out {
    animation: info-tooltip-out 0.5s linear 1s;
    animation-fill-mode: forwards;
}


/* == Toolpicker ================== */
#toolpicker {
    width: auto;
    height: 100%;
    padding-top: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    user-select: none;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    background-color: var(--gray2);

    grid-area: t;
}

#toolpicker > img {
    width: 30px;
    height: 30px;
    padding: 5px;

    background-color: var(--gray1);
    border: 1px solid var(--gray2);
    border-radius: 5px;
    cursor: pointer;
}

#toolpicker > img:hover, #toolpicker > .selected-tool {
    background-color: var(--gray3);
    border: 1px solid var(--gray4);
}

/* == Dropdown pentru efecte ===================== */
.apply-button {
    background-color: var(--orange);
    color: var(--gray1);
    border: none;
    border-radius: 4px;
    font-family: "Ubuntu Mono";
    border: 1px solid var(--gray1);
    font-weight: bold;
}

.form-window {
    width: 8em;
    background-color: var(--gray4);
    z-index: 4;
    position: absolute;
    flex-direction: column;
    gap: 0.3em;
    border: 2px solid var(--gray1);
    border-radius: 5px;
}

.text-input {
    font-family: "Ubuntu Mono";
    border-radius: 3px;
    border: 1px solid var(--gray1);
    padding: 0.3em;
    background-color: var(--gray5);
    color: var(--mild-black);
}

::placeholder {
    color: var(--gray3);
}

.effect-setting {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 0.5em;
}

.fx-button {
    width: 100%;
    background-color: var(--gray1);
    color: var(--gray5);
    border: none;
    border-radius: 4px;
    margin-top: 1px;
    padding-block-start: 0.2em;
    padding-block-end: 0.2em;
    text-align: start;
    transition: color 0.5s;
    font-family: "Ubuntu Mono";
}

.fx-button:hover {
    color: var(--orange);
    transition: color 0.5s;
}

#effects-dropdown {
    padding: 1px;
    display: none;
    align-items: center;
    gap: 0.1em;
}

#effect-none {
    color: var(--orange);
    font-weight: bold;
}

#effects-dropdown input[type="range"] {
    appearance: none;
    width: 90%;
    height: 0.5em;
    border-radius: 5px;
    background: var(--gray2);
    margin: auto;
}

#effects-dropdown input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 1em;
    height: 1em;
    background-color: var(--gray1);
    border-radius: 10px;
    cursor: pointer;
}

#apply-brightness {
    width: 2em;
    margin: auto;
}

/* == Formular pentru redimensionare ======= */
#resize-window {
    display: none;
    padding: 0.5em;
}

#apply-resize {
    margin-top: 0.5em;
    padding: 0.2em;
}

/* == Formular pentru adăugare text ======== */
#text-window {
    display: none;
    padding: 0.6em;
    max-height: 200px;
    grid-template-columns: auto 1.5em;
    grid-template-rows: auto auto auto 1em;
    justify-content: center;
    column-gap: 0.4em;
}

#drawtext-text {
    width: auto;
    height: 1.2em;
    min-height: 15px;
    max-height: 110px;
    resize: vertical;
    grid-column: 1/3;
}

#drawtext-font {
    width: auto;
    height: 1em;
    grid-column: 1/3;
    color: var(--gray3);
    font-size: 0.8em;
    cursor: pointer;
}

#drawtext-font::-webkit-scrollbar {
    display: none;
}

#drawtext-font-dropdown {
    background-color: var(--gray5);
    width: 9em;
    position: relative;
    top: -18px;
    display: none;
    flex-direction: column;
    border: 1px solid var(--gray1);
}

.dt-font-option {
    height: 1em;
    padding: 0.3em;
    border-bottom: 1px solid var(--gray1);
    color: var(--gray1);
}

.dt-font-option-sel {
    font-weight: bold;
}

.dt-font-option:hover {
    background-color: var(--gray4);
}

#drawtext-text::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

#drawtext-text::-webkit-scrollbar-track {
    background-color: var(--gray5);
}

#drawtext-text::-webkit-scrollbar-thumb {
    background-color: var(--gray2);
}

#drawtext-text::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray3);
}

#drawtext-text::-webkit-resizer {
    width: 5px;
    height: 5px;
    background-color: var(--gray3);
    border-top-left-radius: 100%;
}

#drawtext-size {
    height: 1.2em;
}

#drawtext-color {
    width: 1.5em;
    height: 1.5em;
    justify-self: center;
}

#drawtext-color::-webkit-color-swatch-wrapper {
    padding: 0;
}

#drawtext-button {
    align-self: center;
    grid-column: 1/3;
}

/* == Workspace area ============== */
/* (canvas area) */
#workspace-area {
    background-color: var(--gray5);
    border-bottom-right-radius: 10px;

    display: flex;
    overflow: scroll;

    grid-area: w;
}

#workspace-area::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#workspace-area::-webkit-scrollbar-track {
    background-color: var(--gray5);
}

#workspace-area::-webkit-scrollbar-thumb {
    background-color: var(--gray2);
}

#workspace-area::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray3);
}

#ws-canvas-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#workspace-canvas {
    box-shadow: 1px 1px 5px 1px var(--gray3);
    transition: transform 0.5s;
}

/* == Selecție ==== */
#selection {
    position: absolute;
    transform-origin: 0 0;
    width: 1px;
    height: 1px;
    z-index: 3;

    border: 1px dashed cornflowerblue;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.sel-node {
    position: relative;
    transform-origin: 50% 50%;
    width: 3px;
    height: 3px;
    background-color: var(--orange);
    border: 1px solid orangered;
}

#sel-tl {
    transform: translate(-2px, -2px);
}

#sel-tr {
    justify-self: end;
    transform: translate(2px, -2px);
}

#sel-bl {
    align-self: end;
    transform: translate(-2px, 2px);
}

#sel-br {
    justify-self: end;
    align-self: end;
    transform: translate(2px, 2px);
    cursor: pointer;
    background-color: white;
    border: 1px solid gray;
}

/* == Formular de încărcare pentru imagini ==== */
#load-window {
    visibility: hidden;
    position: absolute;
    width: 350px;
    height: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 175px);
    z-index: 10;

    display: grid;
    grid-template-rows: 1fr 5fr;

    background-color: var(--gray4);
    border-radius: 10px;
    box-shadow: 3px 3px 20px 1px var(--gray3);
    font-family: 'Raleway';
}

#lw-handle {
    width: 100%;

    display: flex;
    align-items: center;

    background-color: var(--gray2);
    color: var(--gray4);
    font-size: 0.8em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#lw-title {
    margin-left: 15px;
}

#lw-close-button {
    margin-left: auto;
    background-color: transparent;
    border: none;
    color: var(--gray5);
}

#lw-content {
    padding: 10px;

    display: flex;
    flex-direction: column;

    color: var(--mild-black);
}

#lw-info {
    font-size: 0.8em;
}

#lw-load-component {
    margin-top: auto;
}

#lw-load-input {
    font-family: 'Raleway';
    width: 100%;
}

#lw-submit-area {
    margin-left: auto;
}

#lw-submit-button, #lw-load-input::file-selector-button {
    background-color: var(--gray2);
    color: var(--gray4);
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#lw-submit-button:hover, #lw-load-input::file-selector-button:hover {
    color: var(--gray5);
    cursor: pointer;
}

/* == Fereastra pentru histograma ==== */
#histogram-window {
    /* 400x600 */
    /* 532x285 */
    position: absolute;
    width: 552px;
    height: 335px;
    background-color: var(--gray4);
    border-radius: 5px;
    z-index: 3;

    display: none;
    grid-template-rows: 20px auto;
}

#hw-bar {
    width: 100%;
    background-color: var(--gray3);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: grab;
}

#histogram-window > canvas {
    width: 99%;
    height: 95px;
    background-color: var(--gray5);
    border-radius: 5px;
    justify-self: center;
    align-self: center;
}


/* Animații */
@keyframes info-tooltip-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes info-tooltip-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes warnText {
    0% {
        color: var(--warning-red);
    }

    20% {
        color: var(--mild-black);
    }

    40% {
        color: var(--warning-red);
    }

    60% {
        color: var(--mild-black);
    }

    80% {
        color: var(--warning-red);
    }
}