@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    /* Culori pagina */
    --gray1: #2D3142;
    --gray2: #525562;
    --gray3: #767981;
    --gray4: #BFC0C0;
    --gray5: #DFE0E0;
    --orange: #EF8354;
    --mild-black: #212430;
}

#darkness {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 5;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;

    font-family: 'Ubuntu Mono', monospace;
}

/* https://coolors.co/212430-2d3142-525562-767981-bfc0c0-dfe0e0-ffffff-ef8354 */

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--gray1);
}

button {
    cursor: pointer;
}

#container {
    width: 90%;
    max-width: 1280px;
    height: 90%;
    max-height: 720px;

    display: grid;
    grid-template-rows: 55px minmax(auto, 720px);
    grid-template-columns: 55px minmax(auto, 1280px);
    grid-template-areas: "l b"
                         "t w";
    gap: 5px;
    row-gap: 10px;
}


/* == Logo ================== */
#logo {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: "l"
}

#logo-img {
    position: relative;
    top: 5px;

    width: 90%;
    height: 90%;
    /* Portocaliu */
    /* Generat cu https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(52%) sepia(91%) saturate(344%) hue-rotate(332deg) brightness(97%) contrast(93%);
}


/* == Bars ====================== */
#bars {
    display: grid;
    grid-template-rows: 50% 50%;

    grid-area: "b"
}

#toolbar {
    display: flex;
    align-items: center;
    padding-left: 0.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: var(--gray2);
}

#toolbar > button {
    font-family: "Raleway";
    color: var(--gray4);
    background-color: transparent;
    border: none;
}

#save-button {
    border-left: 1px solid var(--gray1) !important;
}

#toolbar > button:hover {
    color: white;
}

#info-tooltip {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: 30px;
}

#info-tooltip-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--gray3);
}

#info-tooltip-icon {
    width: 60%;
    height: 70%;
    filter: invert(88%) sepia(0%) saturate(0%) hue-rotate(234deg) brightness(103%) contrast(92%);
}

#info-tooltip-textbox {
    padding-left: 10px;
    
    display: flex;
    align-items: center;

    background-color: var(--gray4);
    color: var(--mild-black);
    cursor: help;
}

#info-tooltip-text {
    height: 1em;
}


/* Arata toata informatia pe hover */
#info-tooltip-hover {
    display: none;

    min-height: 30px;
    max-width: 50%;
    padding: 8px;
    position: absolute;

    background-color: var(--gray2);
    border: 1px solid var(--gray1);
    border-radius: 5px;
    color: var(--gray5);

    font-family: Consolas;
    font-size: 0.8em;
}

.hover-in {
    animation: info-tooltip-in 0.5s linear 1s;
    animation-fill-mode: backwards;
}

.hover-out {
    animation: info-tooltip-out 0.5s linear 1s;
    animation-fill-mode: forwards;
}


/* == Toolpicker ================== */
#toolpicker {
    width: auto;
    height: 100%;
    padding-top: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    background-color: var(--gray2);

    grid-area: "t"
}

#toolpicker > img {
    width: 30px;
    height: 30px;
    padding: 5px;

    background-color: var(--gray1);
    border: 1px solid var(--gray2);
    border-radius: 5px;
    cursor: pointer;
}

#toolpicker > img:hover {
    background-color: var(--gray3);
    border: 1px solid var(--gray4);
}


/* == Workspace area ============== */
/* (canvas area) */
#workspace-area {
    background-color: var(--gray5);
    border-bottom-right-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: "w"
}

#workspace-canvas {
    box-shadow: 3px 3px 20px 1px var(--gray3);
}


/* Formular de încărcare pentru imagini */
#load-window {
    visibility: hidden;
    position: absolute;
    width: 350px;
    height: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 175px);
    z-index: 10;

    display: grid;
    grid-template-rows: 1fr 5fr;

    background-color: var(--gray4);
    border-radius: 10px;
    box-shadow: 3px 3px 20px 1px var(--gray3);
    font-family: 'Raleway';
}

#lw-handle {
    width: 100%;

    display: flex;
    align-items: center;

    background-color: var(--gray2);
    color: var(--gray4);
    font-size: 0.8em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#lw-title {
    margin-left: 15px;
}

#lw-close-button {
    margin-left: auto;
    background-color: transparent;
    border: none;
    color: var(--gray5);
}

#lw-content {
    padding: 10px;

    display: flex;
    flex-direction: column;

    color: var(--mild-black);
}

#lw-info {
    font-size: 0.8em;
}

#lw-load-component {
    margin-top: auto;
}

#lw-load-input {
    font-family: 'Raleway';
    width: 100%;
}

#lw-submit-area {
    margin-left: auto;
}

#lw-submit-button, #lw-load-input::file-selector-button {
    background-color: var(--gray2);
    color: var(--gray4);
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#lw-submit-button:hover, #lw-load-input::file-selector-button:hover {
    color: var(--gray5);
    cursor: pointer;
}


/* Animații */
@keyframes info-tooltip-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes info-tooltip-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}